body {
	background-image:url('../img/background.jpg');
}

.navbar-inner {
    text-align: center;
}

.nav {
    float: none;
    display:inline-block;
}

#loginDiv {
	padding:30 30 10 30;
	width:240px;
	position:absolute;
	top:150px;
	right:150px;
	border-style:dashed;
	border-width:2px;
	border-radius:15px;
	border-color: #696969;
}

#signInButton {
	margin-left:10px;
	height:25px;
	padding-top:1px;
}

#registerationDiv {	
	padding:10 30 10 30;
	padding-bottom: 0px;
	width:240px;
	position:absolute;
	top:350px;
	right:150px;
	border-style:dashed;
	border-width:2px;
	border-radius:15px;
	border-color: #696969;
}

#registrationButton {
	right:0px;
	height:25px;
	padding-top:1px;
	width:240px;
}

#splash {
	position:absolute;
	top:200px;
	right:1100px;
}

.navbar-search {
    position: relative;
}
  
.navbar-search .search-query {
	padding-left: 20px;
    padding-right: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    right: 11px;
    background-image: url("../img/glyphicons-halflings-white.png");
}

.feed {
	padding:20;
	margin-left: 250px;
	margin-top: 0px;
	width:500px;
	border-style:dashed;
	border-width:2px;
	border-radius:5px;
	border-color: #696969;
	background-color: rgba(255,255,255,0.2);
}

#loggedIn {
	margin : 60 auto 20 auto;
	width:700px;
}

#tweetForm {
	padding:20;
	width:500px;
	margin: 0 0 7 250;
	border-style:dashed;
	border-width:2px;
	border-radius:5px;
	border-color: #696969;
	background-color: rgba(255,255,255,0.2);
}
#profileSideBar {
	text-align: center;
	padding:20;
	float:left;
	margin : 0 0 0 0;
	width:200px;
	height:500px;
	position:fixed;
	border-style:dashed;
	border-width:2px;
	border-radius:5px;
	border-color: #696969;
	background-color: rgba(255,255,255,0.2);
	display:inline-block;
}
#tweetsFromSelf, #ownFollowers, #ownFollowing {
	text-align: left;
	width:160px;
	max-height:300px;
	overflow-y:scroll;
	overflow-x:none;
	padding: 0,10,0,0;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}